<mat-toolbar color="primary">
  <mat-toolbar-row class="row between-xs">
    <nav>
      <a mat-button routerLink="/home" reouterLinkActive="active">Home</a>
      <a mat-button routerLink="/contact" reouterLinkActive="active">Contact</a>
      <a mat-button routerLink="/products" reouterLinkActive="active"
        >Products</a
      >

      <a mat-button routerLink="/admin" reouterLinkActive="active">Admin</a>
    </nav>
    <a
      routerLink="/order"
      mat-raised-button
      [matBadge]="total$ | async"
      matBadgeColor="warn"
    >
      <mat-icon>shopping_cart</mat-icon>
      Cart
    </a>
  </mat-toolbar-row>
</mat-toolbar>
