<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card-header>
    <mat-card-title>Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-xs">
        <mat-form-field>
          <input
            placeholder="Title"
            formControlName="title"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <mat-form-field>
          <input
            placeholder="Price"
            formControlName="price"
            matInput
            type="number"
          />
        </mat-form-field>
        <!-- <div *ngIf="form.get('price').errors && form.get('price').dirty">

         </div> -->
        <p *ngIf="form.get('price').hasError('price_invalid')">Invalid field</p>
        <p *ngIf="form.get('price').hasError('required')">Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs">
        <mat-form-field>
          <textarea
            placeholder="Description"
            formControlName="description"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="form.invalid" mat-raised-button type="submit">
      Save
    </button>
  </mat-card-actions>
</form>
