.container {
  display: flex;
  padding-bottom: 5em;
  justify-content: space-between;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
}
.card {
  width: 400px;
  display: block;
  position: relative;
  padding: 16 px;
}
.img {
  background-image: url("../../../../../src/assets/images/hoodie.jpg");
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;

  flex: inherit;
}
.text {
  text-align: center;
}
