<div class="text">WHATS NEW?</div>

<div class="container">
  <mat-card class="card"
    ><mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Medium</mat-card-subtitle>
    <div class="img"></div>
    <button mat-raised-button color="primary">View item</button></mat-card
  >

  <mat-card class="card"
    ><mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Medium</mat-card-subtitle>
    <div class="img"></div>
    <button mat-raised-button color="primary">View item</button></mat-card
  >

  <mat-card class="card"
    ><mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Medium</mat-card-subtitle>
    <div class="img"></div>
    <button mat-raised-button color="primary">View item</button></mat-card
  >
</div>
